@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-825tol');
	src:url('fonts/icomoon.eot?#iefix-825tol') format('embedded-opentype'),
		url('fonts/icomoon.woff?-825tol') format('woff'),
		url('fonts/icomoon.ttf?-825tol') format('truetype'),
		url('fonts/icomoon.svg?-825tol#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
.icon {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width:20px;
}
[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-empolee:before {
	content: "\e600";
	/*margin-right: 8px;*/
}

.icon-client:before {
	content: "\e601";
	/*margin-right: 8px;*/
}

.icon-purchase:before {
	content: "\e602";
	/*margin-right: 8px;*/
}

.icon-order:before {
	content: "\e603";
	/*margin-right: 8px;*/
}

.icon-product:before {
	content: "\e604";
	/*margin-right: 8px;*/
}

.icon-technical:before {
	content: "\e605";
	/*margin-right: 8px;*/
}

.icon-sample:before {
	content: "\e606";
	/*margin-right: 8px;*/
}

